/* element - class - id */
html {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.9);
}

body {
  margin: 0px;
}

main section, main header {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Noto Sans Mono', monospace;
}

h1 {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 300;
  font-size: 2rem;
}

h2 {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 500;
  font-size: 1.2rem;
}

p {
  font-family: 'Cambria', 'Times New Roman', Times, serif;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.0rem;
}

a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgba(255, 200, 148, 0.8);
}

a:visited {
  color: rgba(115, 255, 220, 0.8);
}

/* wide screens */
@media screen and (min-width: 800px) {
  #global-navbar {
    display: flex;
    justify-content: space-between;
  }

  #all-links {
    display: flex;
  }

  #icon-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #all-links a, #icon-links {
    margin: 0 0.5em;
    display: flex;
    align-items: center;
  }

  #all-links a.nav-icon {
    margin: 0px 0px;
    display: inline-flex;
    align-items: center;
  }

  #all-links a:nth-child(2) {
    margin: 0px 0.5em;
  }
}

@media screen and (max-width: 800px) {
  #global-header {
    display: block;
  }

  #global-header-nav {
    display: flex;
    flex-direction: column;
  }

  #global-header-nav a {
    margin-bottom: 0.5ex;
  }

  #global-header-nav nav {
    margin-top: 0.5ex;
  }

  #global-header-nav nav a.nav-icon {
    margin-bottom: 0px;
    display: inline-flex;
    align-items: center;
  }

  #global-header-nav nav a:nth-child(2) {
    margin: 0px 0.5em;
  }
}

#home-background {
  margin: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
}

#global-footer {
  background-color: lightgrey;
}

#home-background {
  z-index: -1;
}

.blog-gallery {
  display: flex;
}

.blog-card, .project-card {
  margin: 1rem;
}

#page-header nav a{
  margin: 0 0.5em;
}

.nav-link {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: rgb(255, 255, 255, 0.8);
  background: none;
  border: none;
  padding: 0px;
}


#global-header h1 {
  font-size: 1.5rem;
  margin: 0px;
}







.blog-gallery {
  list-style: none;
  padding-left: 0px;
}

.icon-button {
  width: 1.5rem;
}